 /* td{
  border: 1px solid black;
text-align: center;
} */

*{
  margin: auto;
}
th{
  background-color: rgba(172, 168, 168, 0.692);
}
table{
  border: 1px solid black;
  align-items: center;
}
 
td,th{
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  color: black;
}

form{
  border: 1px solid black;
  text-align: center;
  width: 500px;
  height: 215px;
  background-color: rgba(180, 174, 174, 0.507);
}

.btn{
  font-size: 20px;
}